* {
    transition: none;
    box-shadow: none;
    font-family: Hermit;
    font-size: 14px;
}

#waybar {
    color: #ff0000;
    background: #000000;
    border-radius: 2px;
    border: 2px solid #ff0000;
}

#workspaces {
    margin: 0 4px;
}

#workspaces button {
    font-size: 1px;
    font-weight: 900;
    margin: 4px 4px 4px 0;
    padding: 1px 6px 1px 6px;
    color: #ff0000;
    background: transparent;
    border-radius: 50%;
}

#workspaces button.active {
    /* border: 2px solid #7aa2f7; */
    color: rgba(0, 255, 0, 0.7);
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #clock, #temperature, #disk {
    font-weight: 900;
    margin: 4px 0px;
    padding: 0 12px 0 8px;
    background: transparent;
    border-radius: 4px;
    min-width: 20px;
}

#tray {
    margin-right: 10px;
}

#pulseaudio.muted {
    color: #a16946;
}

#pulseaudio.bluetooth {
    color: #86c1b9;
}

#clock {
    margin-left: 4px;
    margin-right: 4px;
    background-color: transparent;
}

#temperature.critical {
    color: #a16946;
}

#idle_inhibitor {
    margin-left: 30px;
}