* {
  transition: none;
  box-shadow: none;
  font-family: Hermit;
  font-size: 13px;
}

#waybar {
  color: #ffffff;
  background: rgba(30, 34, 39, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

#workspaces {
  margin: 0 4px;
}

#workspaces button {
  font-size: 1px;
  margin: 4px 4px 4px 0;
  padding: 1px 7px 1px 7px;
  color: #d8d8d8;
  background: rgba(0, 0, 0, 0.0);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

#workspaces button.active {
  background: rgba(121, 123, 134, 0.2);
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #clock, #temperature, #disk {
  margin: 4px 0px;
  padding: 5px 16px 5px 10px;
  background: #23272E;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  min-width: 20px;
}

#pulseaudio.muted {
  color: #a16946;
}

#pulseaudio.bluetooth {
  color: #86c1b9;
}

#temperature.critical {
  color: #a16946;
}

#idle_inhibitor {
  margin-left: 30px;
}