* {
    transition: none;
    box-shadow: none;
    font-family: Hermit;
    font-size: 13px;
}

#waybar {
    color: #ffffff;
    background: rgba(30, 34, 39, 0.9);
    border-radius: 12px;
}

#workspaces {
    margin: 0 15px;
}

#workspaces button {
    padding: 5px 10px 0px 10px;
    color: #d8d8d8;
    background: rgba(0, 0, 0, 0.0);
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-radius: 0;
}

#workspaces button.active {
    background: rgba(121, 123, 134, 0.2);
    border-bottom: 5px solid rgba(131, 132, 133, 0.8);
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #backlight, #custom-storage, #clock, #temperature, #disk {
    margin: 4px 0px;
    padding: 5px 16px 5px 10px;
    background: #15181d;
    border-radius: 0px;
    min-width: 20px;
}

#pulseaudio { border-radius: 12px 0 0 12px; }
#clock { border-radius: 0 12px 12px 0; }

#window { padding: 0 100px; }

#clock { margin-right: 4px; }

#pulseaudio.muted { color: #a16946; }
#pulseaudio.bluetooth { color: #86c1b9; }
#temperature.critical { color: #a16946; }

/* Hacky Arch logo LOL */
#idle_inhibitor {
    margin-left: 15px;
    font-size: 200%;
}
