* {
  transition: none;
  box-shadow: none;
  font-family: Hermit;
  font-size: 13px;
}

#waybar {
  color: #b8b8b8;
  background: rgba(21, 22, 30, 0.6);
  border-radius: 10px;
}

#workspaces {
  margin: 0 4px;
}

#workspaces button {
  font-size: 1px;
  margin: 4px 4px 4px 0;
  padding: 1px 6px 1px 6px;
  color: #d8d8d8;
  background: rgba(30, 32, 43, 0.7);
  border-radius: 50%;
}

#workspaces button.active {
  /* border: 2px solid #7aa2f7; */
  background: rgba(75, 80, 110, 0.5);
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #clock, #temperature, #disk {
  margin: 4px 0px;
  padding: 0 12px 0 8px;
  background: rgba(30, 32, 43, 0.7);
  border-radius: 4px;
  min-width: 20px;
}

#tray {
  margin-right: 10px;
}

#pulseaudio.muted {
  color: #a16946;
}

#pulseaudio.bluetooth {
  color: #86c1b9;
}

#clock {
  margin-left: 4px;
  margin-right: 4px;
  background-color: transparent;
}

#temperature.critical {
  color: #a16946;
}

#idle_inhibitor {
  margin-left: 30px;
}